$blue: #0063ce;
$enable-shadows:"true";
$enable-gradients:"true";
@import "node_modules/bootstrap/scss/bootstrap";

html,
body,
#root,
#root > div {  
  min-height: 100vh;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-family-monospace;
  // background: rgb(240, 233, 255);
}

.container {
  height:100%;
}
.container a {
  &:hover {
    color: #44009d
  }
}

// Loader
.loader-wrapper {
  text-align: center;
  height: calc(100vh - 2.75rem);
}

.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 45%;
  position: relative;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #aeaeae;
  border-color: #aeaeae transparent #aeaeae transparent;
  animation: loader 1.2s infinite;
}

// Navbar
.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
}

.nav-scroller .nav {
  height: 2.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  overflow-y: hidden;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding: 0;
  margin: 0 .75rem;
  line-height: 2.75rem;
  font-size: .875rem;
  color: rgb(187, 187, 187);
}

.nav-underline .nav-link:hover {
  color: #5500ce !important;
}

.nav-underline .active {
  font-weight: 500;
  color: #5500ce !important;
}

// Theme Toggle Switch
.theme-switch {
  position: absolute !important;
  top: .5rem;
  right: 1rem;
}

// Media Queries
@include media-breakpoint-only(xs) {
  .theme-switch {
    position: relative !important;
    left: 3rem;
  }
}

// Keyframes
@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}