
$blue: #0063ce;
$enable-shadows:"true";
$enable-gradients:"true";

@import "node_modules/bootstrap/scss/bootstrap";

html, body, #root, .container {
    height: 100%
}
body {
    background: #f0e9ff;
    font-family: $font-family-monospace;
}

a {
    color: #5500ce;

    &:hover {
        color: #44009d
    }
}


.loader-wrapper {
    top: 50%;
    position: relative;
    text-align: center;
}

.loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: loader 1.2s infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
