$blue: #0063ce;
$enable-shadows:"true";
$enable-gradients:"true";

@import "node_modules/bootstrap/scss/bootstrap";

html,
body,
#root,
.container {
  height: 100%
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $font-family-monospace;
}

.container a {
  &:hover {
    color: #44009d
  }
}

// Loader

.loader-wrapper {
  top: 50%;
  position: relative;
  text-align: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loader 1.2s infinite;
}

// Navbar

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #5500ce;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


// Toogle Button

div.button {
  margin-top: .5rem;
	height: 30px; width: 100px;
  position: absolute;
  right: 10px;
	background: #25272a;
	border-radius: 30px;
		.toggle {
			svg {
				opacity: 1;
				transform: translate(-50%, -50%);
				transition: opacity 200ms ease-in-out, transform 160ms ease-in-out;
			}
		}
	
	&.active {
		background: #eeeeee;
		.toggle {
			background: #25272a;
			transform: translate(60px, -15%);
			transition: background 240ms ease-in-out, transform 240ms ease-in-out;	
			svg {
				transform: translate(-36%, -50%) rotatez(180deg);
				transition: opacity 200ms ease-in-out, transform 160ms ease-in-out;	
			}
		}
		&:hover {
			.toggle {
				svg {
					transform: translate(-46%, -50%) rotatez(180deg); 
					transition: opacity 200ms ease-in-out, transform 160ms ease-in-out;	
				}
			}
		}
	}
}

.toggle {
	height: 40px; width: 40px;
  // position: absolute; top: 50%; 
  transform: translate(0, -15%);
  background: #141518;
  display: block;
	border-radius: 60px;
	box-shadow: 0px 4px 4px rgba(13,13,13,.3);
	transition: background 240ms ease-in-out, transform 240ms ease-in-out;
	svg {
		width: 40%;
		position: absolute; top: 50%; left: 48%; transform: translate(-60%, -50%);
		opacity: 0;
		transition: opacity 200ms ease-in-out, transform 160ms ease-in-out;
	}
}

// Keyframes

@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}